<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand">
                <span class="title" id="titleEditor"></span>
                <span class="commentary">Loading...</span>
            </span>
            <div class="back-home">
                <a href="/" title="Back to notes" class="btn btn-sm btn-secondary">Back to notes</a>
            </div>
        </div>
    </nav>

    <div class="container text-editor">
        <div id="editor"></div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Powered by <a href="https://docs.pusher.com/textsync">TextSync</a></span>
        </div>
    </footer>

    <script type="text/javascript" src="//cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/axios@0.17.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/pusher/deliverfoo/us1/textsync.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="text/javascript">
        const noteDocument = $(document)
        const collaboratorsText = $('.navbar-brand .commentary')
        const PUSHER_INSTANCE_LOCATOR = "v1:us1:3ca672fc-0717-49a2-abb0-81677680b654"

        let note = {
            title: null,
            collaborators: [],
            textSync: undefined,
            currentNote: undefined,
        }

        const helpers = {
            /**
             * Load the note editors.
             */
            loadNoteEditors: () => {
                const noteID = document.URL.substr(document.URL.lastIndexOf('/') + 1)

                axios.get(`/api/notes/${noteID}`)
                    .then(response => {
                        note.currentNote = response.data.data

                        if (note.currentNote.ID === undefined) {
                            return (window.location = '/');
                        }

                        $('title').text(note.Title)

                        note.textSync = new TextSync({ instanceLocator: PUSHER_INSTANCE_LOCATOR });
                        helpers.createTitleTextEditor()
                        helpers.createContentTextEditor()
                    })
                    .then(() => {
                        setTimeout(() => {
                            document.querySelector("#titleEditor .ql-editor")
                                    .addEventListener("input", _.debounce(helpers.updateNoteTitle, 1000));
                        }, 3000)
                    })
            },

            /**
             * Update the title of the note.
             */
            updateNoteTitle: () => {
                const title = $('#titleEditor .ql-editor').text()

                axios.put(`/api/notes/${note.currentNote.ID}`, {title})
            },

            /**
            * Create the text editor for the main content.
            *
            * @see https://docs.pusher.com/textsync/reference/js#editor-config-properties
            */
            createTitleTextEditor: () => {
                note.textSync.createEditor({
                    element: '#titleEditor',
                    docId: `${note.currentNote.Slug}-title`,
                    richText: false,
                    collaboratorBadges: false,
                    defaultText: note.currentNote.Title,
                })
            },

            /**
             * Create the text editor for the main content.
             *
             * @see https://docs.pusher.com/textsync/reference/js#editor-config-properties
             */
            createContentTextEditor: () => {
                note.textSync.createEditor({
                    element: "#editor",
                    docId: `${note.currentNote.Slug}-content`,
                    onCollaboratorsJoined: users => {
                        for (const key in users) {
                            note.collaborators[users[key].siteId] = users[key]
                        }

                        const count   = Object.keys(note.collaborators).length
                        collaboratorsText.text((count > 1 ? `${count} collaborators.` : 'You are alone 😢'))
                    }
                })
            },
        }

        noteDocument.ready(helpers.loadNoteEditors)
    </script>
</body>
</html>
